
table{
    /* display: flex;
    justify-content: center;
    justify-items: stretch; */
    height: auto;
    width: 100%;
    background-color: palevioletred;
    border-collapse: separate;
}

tbody{
    display: flex;
    justify-content: center;
    justify-items: stretch;
    flex-direction: column;
    /* justify-items: center; */

}
