
table{
    /* display: flex;
    justify-content: center;
    justify-items: stretch; */
    height: auto;
    width: 100%;
    background-color: palevioletred;
}

tbody{
    display: flex;
    justify-content: center;
    justify-items: stretch;
}
