<header>
    <h1>Grocery Shop</h1>
</header>
<form #forms>
    <input type="text"  #input1 class="form" placeholder="enter the name" >
    <input type="text" #input2 class="form" placeholder="enter the unit"  >
    <input type="text"  #input3 class="form" placeholder="enter the quantity" >
    <button type="reset" (click)="getValue(input1.value,input2.value,input3.value)">Add</button>
    
  
</form>
<app-table [Items]="Items"></app-table>
<footer>
    <app-grand-total [Items]="Items"></app-grand-total> 
   
</footer>

