<header>
    <h1>Grocery Shop</h1>
</header>
<form #forms>
    <input type="text"  #input1 class="form" placeholder="enter the name" >
    <input type="text" #input2 class="form" placeholder="enter the unit"  >
    <input type="text"  #input3 class="form" placeholder="enter the quantity" >
    <button type="reset" (click)="getValue(input1.value,input2.value,input3.value)">click</button>
    
   <app-table></app-table>
   
   <app-table-row [userData]="userData" (passevent)="deleteValue($event)"></app-table-row> 
    
</form>
<footer>
    <app-grand-total [userData]="userData"></app-grand-total> 
    <h1>{{userData}}</h1>
</footer>

