/* You can add global styles to this file, and also import other style files */
body{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}
button{
    background-color:pink;
    border-radius: 7px;
    height: 30px;
    width: auto;
}
